// GALERIA - CAROUSEL 
.galeria-carousel {
    h3 {
        justify-content: center;
        text-align: center;
        font-size: 2rem;
    }
}

.carousel-item {
    gap: 50px;
}

// GALERIA - CURSOS 
.galeria-curso {
    margin-top: 50px;
    justify-content: center;
    text-align: center;
    h3 {
        font-size: 2rem;
    }
}
