// MENU - MAIN 

.menu-padre {
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    margin: 0 auto;
    text-align: center;
}

.menu-carta {
    width: 400px;
    border: solid 5px #ab33286c; 
    -webkit-box-shadow: 1px 0px 17px 0px rgba(15, 14, 14,1);
    -moz-box-shadow: 1px 0px 17px 0px rgba(15, 14, 14,1);
    box-shadow: 1px 0px 17px 0px rgba(15, 14, 14,1);
    justify-content: center;
    margin: 40px 40px;
    &:hover {
        transform: scale(1.05,1.05);
    }
    h2 {
   
        color: black;
        gap: 10px;
        text-decoration: underline;
    }
    ul {
        list-style: none;
    }
}
