.trabaja-form {
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 1.5rem;
    margin-top: 20px;
    h3 {
        margin-top: 20px;
    }
}

.botonEnviar {
    width: 80px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.trabaja-dir {
    text-align: center;
}

.textarea-foco {
    width: 100px;
    transition: width 5s;
    &:focus {
        background-color: grey;
        width: 400px;
    }
    @media (max-width: 400px) {
        &:focus {
            width: 200px;
        }
    }
}
